[user]
    name = Muhammad Atif Ali
    email = me@matifali.dev
    # signingkey is intentionally unset - using defaultKeyCommand instead
    # This allows dynamic key retrieval from SSH agent (1Password on macOS, forwarded agent on Linux)

[core]
    editor = vim
    autocrlf = input

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    df = diff
    lg = log --graph --oneline --decorate --all
    last = log -1 HEAD
    unstage = reset HEAD --
    amend = commit --amend

[push]
    default = current

[branch]
    autosetuprebase = always

[fetch]
    prune = true

[color]
    ui = true

[credential]
    helper = cache --timeout=28800

[init]
    defaultBranch = main

[credential "https://github.com"]
	helper = !gh auth git-credential

[credential "https://gist.github.com"]
	helper = !gh auth git-credential

[gpg]
	format = ssh

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[gpg "ssh"]
    allowedSignersFile = ~/.config/git/allowed_signers
    defaultKeyCommand = /bin/bash -c '~/.config/git/get-signing-key.sh'
	program = !bash -c \"~/.config/git/ssh-sign.sh \\\"\\$@\\\"\" --
